@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>OverView</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container form-container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                @Html.Label("Registration")
                @Html.TextBox("reg", "", new { @class = "form-control" })
                @Html.Label("Color")
                @Html.TextBox("color", "", new { @class = "form-control" })
            </div>
            <div class="col-sm-6 col-md-4">
                @Html.Label("Type")
                @Html.DropDownList("type", EnumHelper.GetSelectList(typeof(Garage2.Models.VehicleType)), "All", new { @class = "form-control" })
                @Html.Label("Check-in time")
                <input name="time" type="date" class="form-control">
            </div>
        </div>
        <input type="submit" value="Search" class="btn btn-default search" />
    </div>

}

<table class="table ">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Type).ToString(), "Index", new { sort = "Type", reg = ViewBag.reg, type = ViewBag.type, color = ViewBag.color, brand = ViewBag.brand, model = ViewBag.model, wheels = ViewBag.wheels, time = ViewBag.time })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.RegNumber).ToString(), "Index", new { sort = "RegNumber", reg = ViewBag.reg, type = ViewBag.type, color = ViewBag.color, brand = ViewBag.brand, model = ViewBag.model, wheels = ViewBag.wheels, time = ViewBag.time })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Color).ToString(), "Index", new { sort = "Color", reg = ViewBag.reg, type = ViewBag.type, color = ViewBag.color, brand = ViewBag.brand, model = ViewBag.model, wheels = ViewBag.wheels, time = ViewBag.time })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.TimeStamp).ToString(), "Index", new { sort = "TimeStamp", reg = ViewBag.reg, type = ViewBag.type, color = ViewBag.color, brand = ViewBag.brand, model = ViewBag.model, wheels = ViewBag.wheels, time = ViewBag.time })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Check-out", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
