@model Garage2.Models.Receipt

<div>
    <h2>Receipt</h2>
    <h4>Garage price: @Html.DisplayFor(model => model.PricePerHour) kr / hour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vehicle.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.RegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle.Wheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.Wheels)
        </dd>
        
   @*Additional info*@
        <dt>
            @Html.DisplayNameFor(model => model.vehicle.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkOutTimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkOutTimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingPeriodInMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingPeriodInMin) min
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice) kr
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Vehicle List", "OverView", new { msg = $"List of vehicles - Your {Model.vehicle.Type} has been checked out"})
</p>
