@model Garage2.Models.MembersOverViewViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>
<h4>@Model.Message</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container form-container">
        <div class="row">
            @Html.HiddenFor(x => x.Sort)
            <div class="col-sm-6 col-md-4">
                @Html.Label("SocialSecurityNumber")
                @Html.TextBox("SocialNr", "", new { @class = "form-control" })
                @Html.Label("First name")
                @Html.TextBox("FirstName", "", new { @class = "form-control" })
            </div>
            <div class="col-sm-6 col-md-4">
                @Html.Label("Last name")
                @Html.TextBox("LastName", "", new { @class = "form-control" })
                @Html.Label("Date of birth")
                <input name="DateOfBirth" type="date" class="form-control" value=@ViewBag.time>
            </div>
        </div>
        <div class="btn-group search">
            <input type="submit" name="search" value="Search" class="btn btn-default" />
            <input type="submit" name="show" value="Show all" class="btn btn-default" />
        </div>
    </div>
}

@if (Model.Members.Count > 0)
{
    <table class="table colorTable">
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Member.SocialSecurityNumber).ToString(), "OverView", "Members", new { SocialNr = Model.SearchParams.SocialNr, FirstName = Model.SearchParams.FirstName, LastName = Model.SearchParams.LastName, DateOfBirth = Model.SearchParams.DateOfBirth, sort = (Model.Sort.Contains("Social") ? Model.Sort : "SocialSecurityNumber") }, null)
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Member.FirstName).ToString(), "OverView", "Members", new { SocialNr = Model.SearchParams.SocialNr, FirstName = Model.SearchParams.FirstName, LastName = Model.SearchParams.LastName, DateOfBirth = Model.SearchParams.DateOfBirth, sort = (Model.Sort.Contains("First") ? Model.Sort : "FirstName") }, null)
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Member.LastName).ToString(), "OverView", "Members", new { SocialNr = Model.SearchParams.SocialNr, FirstName = Model.SearchParams.FirstName, LastName = Model.SearchParams.LastName, DateOfBirth = Model.SearchParams.DateOfBirth, sort = (Model.Sort.Contains("Last") ? Model.Sort : "LastName") }, null)
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Member.DateOfBirth).ToString(), "OverView", "Members", new { SocialNr = Model.SearchParams.SocialNr, FirstName = Model.SearchParams.FirstName, LastName = Model.SearchParams.LastName, DateOfBirth = Model.SearchParams.DateOfBirth, sort = (Model.Sort.Contains("Birth") ? Model.Sort : "DateOfBirth") }, null)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Members)
        {
            if (Model.HasAddedMember.Equals(true))
            {
                @:<tr class="success">
                Model.HasAddedMember = false;
            }
            else
            {
                @:<tr>
            }
                    <td>
                        @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                    @:</tr>
                }

            </table>
       }
else
{
    <h3>Could not find any members that matched your search</h3>
}


