@model Garage2.Models.Statistics

<div>
    <h2>Garage Statistics</h2>
    <h4>Garage price: @ViewBag.PricePerHour kr / hour (@string.Format("{0:n2}", (ViewBag.PricePerHour / 60)) kr / min)</h4>
    <hr />

    <table id="statistics" class="table table-responsive">
        <tr>
            <th>Vehicle type</th>
            <th>Number</th>
            <th>Number of wheels</th>
            <th>Parking time [min]</th>
            <th>Parking price [kr]</th>
        </tr>

        @foreach (var item in Model.GroupByTypeStatistics)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.VehicleGroup)
                </td>
                <td>
                    @Html.DisplayFor(model => item.VehiclesNumberInAGroup)
                </td>
                <td>
                    @Html.DisplayFor(model => item.WheelsNumberInAGroup)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ParkingTimeInAGroup)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ParkingPriceInAGroup)
                </td>
            </tr>
        }

        <tr id="total">
            <th>Total</th>
            <th>@Html.DisplayFor(model => model.TotalVehiclesNumber)</th>
            <th>@Html.DisplayFor(model => model.TotalWheelsNumber)</th>
            <th>@Html.DisplayFor(model => model.TotalParkingTime) min </th>
            <th>@Html.DisplayFor(model => model.TotalParkingPrice) kr</th>
        </tr>
    </table>
</div>
